*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
 .contacts{
    padding-top: 10rem;
    background-color: rgb(2, 0, 93);
 }
.text-con{
    color: aliceblue;
}
.between{
    display: flex;
    align-items: center;
}
.flex1{
    display: flex;
    flex-direction: column;
    align-items: center;
}